<!DOCTYPE HTML>
<html>
    <head>
        <title>VUE</title>
        <style>
            .active{
                background:black;
                color:gold;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <!-- 插值 -->
            <p>{{'插值'+message}}</p>
            <hr/>
            <!-- vtext -->
            <p v-text="'v-text'+message">v-text</p>
            <hr/>
            <!-- vhtml -->
            <p v-html="content">v-html</p>
            <hr/>
            <!-- von -->
            <input type="button" value="v-on绑定" v-on:click="doIt('v-on绑定')">
            <input type="button" value="@绑定" @click="changeData">
            <input type="text" value="v-on事件修饰符(如回车键)" @keyup.enter="doIt('v-on事件修饰符')">
            <hr/>
            <!-- vshow -->
            <p v-show="isShow">v-show</p>
            <input type="button" value="v-show" @click="changeIsShow">
            <hr/>
            <!-- vif -->
            <p v-if="isShow">v-if</p>
            <input type="button" value="v-if" @click="changeIsShow">
            <hr/>
            <!-- vbind -->
            <p v-bind:class="{active:isShow}">v-bind完整写法</p>
            <p :class="{active:isShow}">v-bind简写</p>
            <hr/>
            <!-- vfor -->
            <ul>v-for数组<li v-for="(item,index) in arr" :title="item">{{index}}+{{item}}</li></ul>
            <ul>v-for对象数组<li v-for="(item,idnex) in objArr">{{item.name}}</li></ul>
            <hr/>
            <!-- vmodel -->
            <input type="text" v-model="message" value="v-model双向绑定">
            <p>{{message}}</p>
            <hr/>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>  
        <script>
            var app=new Vue({
                el:'#app',
                data(){
                    return{
                        message:'可为表达式',
                        content:'<a href="#">v-html解析为html</a>',
                        isShow:'false',
                        arr:[1,2,3,4,5],
                        objArr:[{name:1},{name:2}]
                    }
                },
                methods:{
                    doIt:function(para1){
                        alert("hello"+para1)
                    },
                    changeData:function(){
                        this.message += "Data changed"
                    },
                    changeIsShow:function(){
                        this.isShow = !this.isShow;
                    }
                }
            })
        </script>
    </body>
</html>
