<p>Buttons</p>
<app-button001></app-button001>
<hr style="border:2px black solid">
<p>form</p>
<app-loginform></app-loginform>
<hr style="border:2px black solid">
<p>navigation bar</p>
<app-navbar001></app-navbar001>
<hr style="border:2px black solid">
<p>navigation bar</p>
<app-navbar002></app-navbar002>
<hr style="border:2px black solid">
<p>paging</p>
<app-paging001></app-paging001>
<hr style="border:2px black solid">
<p>Step bar</p>
<app-stepbar001></app-stepbar001>
<hr style="border:2px black solid">
<p>Slider</p>
<app-slider001></app-slider001>
<hr style="border:2px black solid">
<p>Switch Open&Close</p>
<app-switch001></app-switch001>
<hr style="border:2px black solid">
<p>transfer</p>
<app-transfer001></app-transfer001>
<hr style="border:2px black solid">
<p>Timeline</p>
<app-timeline001></app-timeline001>
<hr style="border:2px black solid">
<p>Countdown</p>
<app-countdown001></app-countdown001>
<hr style="border:2px black solid">
